<h1>My todo list :</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <p><%= task.name %></p>
      <p><%= link_to "Details  ", task_path(task.id) %>
        <%= link_to "Edit", edit_task_path(task.id) %>
        <%= link_to "Delete", task_path(task.id), data: {:confirm => 'Are you sure?'}, :method => :delete %>
      </p>
    </li>
  <% end %>
</ul>
<p><%= link_to "Add a task", new_task_path %></p>
